:root {
    --c-bcg-navy-blue: #2e2f42;
    --c-white: #ffffff;
    --c-cloud: #f4f4fd;
    --c-bgc-head: #e7e9fc;
    --c-links-buttons-normal: #4d5ae5;
    --c-links-buttons-hover: #404bbf;
    --c-slate: #434455;
}

body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #FFFFFF;
    font-size: 16px;
}

address{
    font-style: normal;
}
a {
    text-decoration: none;
  }
a:hover, button:hover {
    color: #404BBF;
}
  
ul {
    list-style-type: none;
  }
/* section header */
  .header{
    border-bottom: 1px solid var(--CORNFLOWER, #E7E9FC);
    background: var(--WHITE, #FFF); 
    height:72px;
    flex-shrink: 0;
    
}
.header_nav{
    
}
.contacts{
        list-style: none;
        color: var(--SLATE, #434455);
        /* Body */
        font-family: Roboto;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 24px;
        /* 150% */
        letter-spacing: 0.32px;
}
.header_nav_menu_links{

}
.header_nav_menu{
    list-style: none;
    color: var(--NAVY-BLUE, #2E2F42);
    /* Body Medium */
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    /* 150% */
    letter-spacing: 0.32px;
    flex-direction: row;
    align-items: center;
    padding-top: 0;    
}
.site-logo{
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
}
.logo-studio-part{
    color: #2e2f42;
}

.slider{
    background: var(--NAVY-BLUE, #2E2F42);
    height: 600px;
    flex-shrink: 0;
        }

h1{
    color: var(--WHITE, #FFF);
        text-align: center;
    
        /* Header 1 */
        font-family: Roboto;
        font-size: 56px;
        font-style: normal;
        font-weight: 700;
        line-height: 60px;
        /* 107.143% */
        letter-spacing: 1.12px;
}
.slider_order_button{
    border-radius: 4px;
    background: var(--IRIS, #4D5AE5);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    color: var(--WHITE, #FFF);
    /* Button Text */
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    /* 150% */
    letter-spacing: 0.64px;
}
.advantages_subheader{
    color: var(--NAVY-BLUE, #2E2F42);
    
        /* Header 3 */
        font-family: Roboto;
        font-size: 20px;
        font-style: normal;
        font-weight: 500;
        line-height: 24px;
        /* 120% */
        letter-spacing: 0.4px;
}
.advantages_p{
    color: var(--SLATE, #434455);
    
        /* Body */
        font-family: Roboto;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 24px;
        /* 150% */
        letter-spacing: 0.32px;
}