:root {
    --c-bcg-navy-blue: #2e2f42;
    --c-white: #ffffff;
    --c-cloud: #f4f4fd;
    --c-bgc-head: #e7e9fc;
    --c-links-buttons-normal: #4d5ae5;
    --c-links-buttons-hover: #404bbf;
    --c-slate: #434455;
}

body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #FFFFFF;
    font-size: 16px;
}

.address_info{
    font-style: normal;
}
a {
    text-decoration: none;
  }
a:hover, a:focus, button:hover {
    color: #404BBF;
}
  
ul {
    list-style-type: none;
  }
/* section header */
  .header{
    background: var(--WHITE, #FFF); 
    flex-shrink: 0;
    
}
.header_nav{

}
.contacts{
        list-style: none;
        color: var(--SLATE, #434455);
        /* Body */
        font-family: Roboto;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 24px;
        /* 150% */
        letter-spacing: 0.32px;
}
.header_nav_menu_links{
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2E2F42;

}
.header_nav_menu{
    list-style: none;
    color: var(--NAVY-BLUE, #2E2F42);
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.32px;
}
.site-logo{
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
}
.logo-studio-part{
    color: #2e2f42;
}

.footer_logo-studio-part{
    color: #f4f4fd;
}
.slider{
    background: var(--NAVY-BLUE, #2E2F42);
    flex-shrink: 0;
        }

h1{
    color: var(--WHITE, #FFF);
        text-align: center;
    
        /* Header 1 */
        font-family: Roboto;
        font-size: 56px;
        font-style: normal;
        font-weight: 700;
        line-height: 1.07;
        /* 107.143% */
        letter-spacing: 1.12px;
}
.slider_order_button{
    background: var(--IRIS, #4D5AE5);
    color: var(--WHITE, #FFF);
    /* Button Text */
    font-family: "Roboto",sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    /* 150% */
    letter-spacing: 0.64px;
    cursor: pointer;
}
.slider_order_button:hover, .slider_order_button:focus{
    background-color: #404BBF;
}
.team_block{
    background-color: #F4F4FD;
}
.team_block_header{
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2E2F42;
}
.team_block_persons{
    background-color: #FFFFFF;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2E2F42;
}
.team_name{
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
}
.team_p{
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}
.portfolio_block{
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2E2F42;
}
.portfolio_header{
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2E2F42;
}
.portfolio_type{
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}
.footer_block{
    background-color: #2E2F42;
}
.footer_logo{
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4D5AE5;
}
.footer_text{
    line-height: 1.5;
    color: #F4F4FD;
    letter-spacing: 0.02em;
}
.advantages_subheader{
    color: var(--NAVY-BLUE, #2E2F42);
    
        /* Header 3 */
        font-family: "Roboto",sans-serif;
        font-size: 20px;
        font-style: normal;
        font-weight: 500;
        line-height: 24px;
        /* 120% */
        letter-spacing: 0.4px;
}
.advantages_p{
    color: var(--SLATE, #434455);
    
        /* Body */
        font-family: Roboto;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 24px;
        /* 150% */
        letter-spacing: 0.32px;
}